{{title (concat model.name " edit profile | Percy") replace=true}}
<div class="w-90vw max-w-sm mx-auto">
  <section class="form-section mb-3">
    <Forms::ProfileEdit @user={{model}} />
  </section>

  {{#if model.hasEmailPasswordIdentity}}
    <section class="form-section">
      <label>
        <span class="label-body">Password</span>
      </label>
      <div>
        <PasswordChangeButton @user={{model}} />
      </div>
    </section>
  {{/if}}
</div>
