<div class="whitespace-no-wrap inline-block">{{fa-icon 'calendar'}}&nbsp;{{moment-format this.build.createdAt 'LL'}}</div>
<div class="whitespace-no-wrap inline-block">{{moment-format this.build.createdAt 'LT'}}</div>
