<div class="BuildInfo-started"><BuildStarted @build={{this.build}} /></div>
<div class="BuildInfo-duration"><BuildDuration @build={{this.build}} /></div>
{{#if this.showComparisonInfo}}
  <div class="BuildInfo-comparison"><BuildComparisonInfo @build={{this.build}} /></div>
{{/if}}
