<div class="build-box">
  <div class="build-box-panel build-box-top">
    <img src="/images/icons/percy-tiny.svg" alt="tiny percy mascot">
  </div>
  <div class="build-box-panel build-box-top-pulse"></div>
  <div class="build-box-panel build-box-bottom">
    <img src="/images/icons/percy-tiny.svg" alt="tiny percy mascot">
  </div>
  <div class="build-box-panel build-box-bottom-pulse"></div>
  <div class="build-box-panel build-box-front">
    <img src="/images/icons/percy-tiny.svg" alt="tiny percy mascot">
  </div>
  <div class="build-box-panel build-box-front-pulse"></div>
  <div class="build-box-panel build-box-back">
    <img src="/images/icons/percy-tiny.svg" alt="tiny percy mascot">
  </div>
  <div class="build-box-panel build-box-back-pulse"></div>
  <div class="build-box-panel build-box-left">
    <img src="/images/icons/percy-tiny.svg" alt="tiny percy mascot">
  </div>
  <div class="build-box-panel build-box-left-pulse"></div>
  <div class="build-box-panel build-box-right">
    <img src="/images/icons/percy-tiny.svg" alt="tiny percy mascot">
  </div>
  <div class="build-box-panel build-box-right-pulse"></div>
</div>
