<div class="btn-toggle" data-test-comparison-switcher>
  {{#each (sort-by "width" comparisons) as |comparison|}}
    <ComparisonSwitcherItem
      @selectedWidth={{selectedWidth}}
      @width={{comparison.width}}
      @comparisons={{comparisons}}
      @updateSelectedWidth={{updateSelectedWidth}}
    />
  {{/each}}
</div>
