{{#modal-dialog
  hasOverlay=true
  translucentOverlay=0.5
  overlayClass="dialog-wrapper"
  onClose=(action "cancel" target=this.confirm)
  as |dialog|
}}
  <div class="bg-white rounded border z-top flex flex-col shadow-purple-lg" data-test-confirm-dialog>
    <div class="flex items-center justify-center bg-purple-200 px-2 py-1">{{confirm.title}}</div>
    <div class="flex items-center px-2 py-1">{{confirm.message}}</div>
    <div class="flex items-center px-2 py-1 justify-end">
      {{#percy-btn class="mr-1" handleClick=(action "cancel" target=this.confirm) testLabel="cancelConfirm"}}Cancel{{/percy-btn}}
      {{#percy-btn isPrimaryButton=true handleClick=(action "confirm" target=this.confirm) testLabel="goAhead"}}Continue{{/percy-btn}}
    </div>
  </div>
{{/modal-dialog}}
