<div class="w-90vw max-w-md mx-auto py-4">
  <div class="sm:flex">
    <div class="sm:flex-1 sm:mr-4">
      <div class="sidenav">
        <ul class="sidenav-list">
          <li class="sidenav-list-item">
            <LinkTo @route="team" @classNames="sidenav-list-item-link">Team</LinkTo>
          </li>
          <li class="sidenav-list-item">
            <LinkTo @route="security" @classNames="sidenav-list-item-link">Security</LinkTo>
          </li>
          <li class="sidenav-list-item">
            <LinkTo @route="terms" @classNames="sidenav-list-item-link">Terms</LinkTo>
          </li>
          <li class="sidenav-list-item">
            <LinkTo @route="privacy" @classNames="sidenav-list-item-link">Privacy</LinkTo>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex-3">
      {{yield}}
    </div>
  </div>
</div>
