<div class="px-2 py-sm rounded-r font-semibold {{buttonClasses}}">
    {{#link-to data-test-link linkRoute organization.slug class=(concat "hover:underline " linkClasses)}}
      {{yield}}
    {{/link-to}}
  </div>

