<button class="btn btn-primary shadow-purple-lg {{if this.isLoading "is-loading"}}" type="button" {{action "createPasswordChangeRequest"}} data-test-profile-password-change-request-button>
  Change password
</button>
{{#if this.requestSent}}
  <div class="mt-2" data-test-profile-password-change-request-message>
    Please check your <strong>{{this.user.email}}</strong> email and click the password change link.
  </div>
{{/if}}
