<span data-test-repo-refresh-status-message>
  {{#if this.isRepoRefreshInProgress }}
    Checking repo status...
  {{else if this.lastSyncedAt }}
    Last updated: {{moment-from-now this.lastSyncedAt}}
  {{else}}
    Never updated
  {{/if}}
</span>
