<button
  class="btn snapshot-reject-button {{if isLoading "is-loading"}}"
  {{action 'rejectSnapshots'}}
  disabled="{{if isDisabled "disabled"}}"
  aria-label="Request changes on this snapshot"
  data-test-snapshot-reject-button
>
  Request changes
</button>
