<Input
  @type="text"
  @value={{searchTerm}}
  @key-up={{action "updateSearchTerm"}}
  class="form-control h-10 m-0"
/>
<ul class="snapshot-name-list">
  {{#each filteredSnapshots as |snapshot|}}
    <li>
      <LinkTo
        @route="organization.project.builds.build2.snapshot"
        @model={{snapshot.id}}
      >
        {{snapshot.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>
