<button
  class="btn snapshot-reject-button {{if this.isLoading "is-loading"}}"
  type="button"
  {{action 'rejectSnapshots'}}
  disabled="{{if this.isDisabled "disabled"}}"
  aria-label="Request changes on this snapshot"
  data-test-snapshot-reject-button
>
  Request changes
</button>
