{{#percy-form
  data-test-user-notification-setting-form
  onSubmit=(perform saveUserNotificationSetting)
  as |form|
}}

  <h2 class="text-xl font-semibold mb-2">Comment notifications</h2>

  <div class="p-2 bg-gray-000 rounded border mb-2">
    <fieldset class="mb-0">
      {{#each userNotificationSettingOptions as |option|}}
        {{#form.label data-test-notif-option=option.value class="flex mb-sm"}}
          {{form.checkbox
            data-test-checkbox=option.value
            checked=(get userNotificationSetting option.path)
            class="mr-2"
          }}

          <div>
            <div class="font-semibold" data-test-notif-option-label>{{option.label}}</div>
            <div class="text-secondary" data-test-notif-option-description>{{option.description}}</div>
          </div>
        {{/form.label}}

      {{/each}}
    </fieldset>
  </div>

  {{#form.submit testLabel='submit'}}
    Update notification settings
  {{/form.submit}}

{{/percy-form}}
