.confirm-container {
  position: fixed;
  top: 50%;
  left: 25%;
  min-width: 50%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: calc(100vw - 434px);
  }
}

.confirm {
  display: grid;
  margin-bottom: 8px;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px rgba(87, 16, 16, 0.1), 0 6px 16px rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  transition: opacity 500ms, transform 500ms;
  transform: translate3d(0, 48px, 0);
}
