.Alert {
  @apply p-1;
  @apply rounded;
  margin-bottom: 20px;
  border-top: 3px solid transparent;

  &.Alert--info {
    @apply bg-blue-000;
    @apply border-blue-500;
  }

  &.Alert--success {
    @apply bg-green-000;
    @apply border-green-500;
  }

  &.Alert--warning {
    @apply bg-yellow-000;
    @apply border-yellow-700;
  }

  &.Alert--error {
    @apply bg-red-000;
    @apply border-red-500;
  }

  .CodeBlock:last-child pre,
  ul:last-child {
    @apply mb-0;
  }
}
