/* stylelint-disable selector-no-qualifying-type, selector-max-specificity  */

.Button,
button,
input[type="reset"],
input[type="button"] {
  @apply bg-white;
  @apply inline-block;
  @apply relative;
  @apply m-0;
  @apply font-semibold;
  @apply text-center;
  @apply whitespace-no-wrap;
  @apply outline-none;
  @apply cursor-pointer;
  @apply rounded;
  @apply text-blue-500;
  @apply border border-gray-100;
  height: 38px;
  padding: 0 15px;
  line-height: 38px;
}

.Button:hover,
.Button:focus,
button:hover,
button:focus,
input[type="reset"]:hover,
input[type="button"]:focus {
  @apply bg-gray-000;
  @apply no-underline;
  @apply text-blue-700;
  @apply border border-gray-200;
  @apply no-underline;
  @apply outline-none;
}

.Button[disabled],
button[disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  @apply text-gray-400;
  @apply bg-gray-100;
  @apply cursor-default;
  @apply border border-gray-100;
}

button .fa--left,
.Button .fa--left {
  @apply absolute;
  top: 7px;
  left: 10px;
  font-size: 2.4rem;
}

.btn {
  @apply leading-normal;
  @apply bg-white;
  @apply inline-block;
  @apply text-sm;
  @apply font-semibold;
  @apply whitespace-no-wrap;
  @apply select-none;
  @apply border border-transparent;
  @apply rounded;
  height: 30px;
  padding: 5px 16px;
  text-decoration: none !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  transition: color 250ms, background 250ms, box-shadow 250ms;
}

.btn:hover {
  @apply text-blue-500;
  @apply bg-blue-000;
  @apply border border-transparent;
}

.btn:focus,
.btn:focus:active {
  @apply bg-gray-000;
  @apply border border-transparent;
  @apply outline-none;
}

.btn[disabled] {
  @apply pointer-events-none;
  @apply opacity-25;
}

.btn.is-active,
.btn.active {
  @apply text-white;
  @apply bg-blue-500;
}

.btn.btn-square {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply p-0;
  width: 30px;
  height: 30px;
}

.btn-alt {
  @apply text-gray-400;
  @apply border border-gray-200;
}

.btn-alt:hover {
  @apply text-gray-700;
  @apply bg-gray-000;
  @apply border border-gray-200;
}

.btn-alt:focus,
.btn-alt:focus:active {
  @apply text-gray-700;
  @apply bg-gray-000;
  @apply border border-gray-300;
}

.btn-sm {
  @apply text-sm;
  height: 24px;
  padding: 2px 6px;
}

.btn-md {
  @apply font-bold;
  height: 42px;
  padding: 10px theme("spacing.3");
  font-size: 14px;
}

.btn-primary {
  @apply text-white;
  @apply font-bold;
  @apply cursor-pointer;
  @apply bg-purple-600;
  padding: 5px theme("spacing.2");
  text-shadow: 0 1px 2px rgba(63, 58, 64, 0.2);
  transition: transform 250ms;
  backface-visibility: hidden;

  &:hover {
    @apply text-white;
    @apply bg-purple-600;
    transform: scale(1.05) translate3d(0, 0, 0);
  }

  &:focus,
  &:focus:active {
    @apply text-white;
    @apply bg-purple-600;
    transform: scale(1) translate3d(0, 0, 0);
  }

  &[disabled] {
    @apply text-white;
    @apply pointer-events-none;
    @apply bg-purple-600;
    @apply border border-transparent;
    @apply opacity-25;
  }

  &.shadow-on-light {
    box-shadow: 0 2px 8px 0 rgba(46, 0, 62, 0.26), 0 8px 20px 0 rgba(39, 0, 52, 0.08);
  }

  &.is-loading {
    @apply table; /* safari needs a forced repaint to draw the gradient again after loading is finished */
    background-image: linear-gradient(-45deg, theme("colors.purple.700") 25%, theme("colors.purple.600") 25%, theme("colors.purple.600") 50%, theme("colors.purple.700") 50%, theme("colors.purple.700") 75%, theme("colors.purple.600") 75%, theme("colors.purple.600"));
    background-size: 20px 20px;
    animation: loading 4s linear infinite;
  }

  &.is-successful {
    svg {
      animation: fadeinout 3s;
    }
  }

  &.is-failed {
    @apply text-red-500;
    @apply bg-red-000;
    text-shadow: none;
    box-shadow: none !important;
  }
}

.build-toolbar {
  .btn:not(.build-approval-button) {
    height: 42px;

    &:hover,
    &:focus,
    &:focus:active {
      @apply bg-white;
    }
  }

  .btn-square {
    width: 42px;
  }
}

.btn-github {
  @apply text-white;
  @apply bg-gray-700;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26), 0 8px 20px 0 rgba(0, 0, 0, 0.08);

  &:hover {
    @apply text-white;
    @apply bg-gray-700;
  }

  &:focus,
  &:focus:active {
    @apply text-white;
    @apply bg-gray-700;
    @apply border border-transparent;
  }
}

.btn-gray {
  @apply text-white;
  @apply bg-gray-600;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26), 0 8px 20px 0 rgba(0, 0, 0, 0.08);

  &:hover {
    @apply text-white;
    @apply bg-gray-600;
  }

  &:focus,
  &:focus:active {
    @apply text-white;
    @apply bg-gray-600;
    @apply border border-transparent;
  }
}

.btn-danger {
  @apply text-red-500;

  &:hover {
    @apply text-white;
    @apply bg-red-500;
    box-shadow: 0 4px 12px rgba(#e85344, 0.3);
  }
}

.btn-success {
  @apply text-white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #43cb54 0%, #4fd960 100%);

  &:hover,
  &:focus,
  &:focus:active {
    @apply text-white;
    background: linear-gradient(45deg, #43cb54 0%, #4fd960 100%);
  }

  &.is-loading {
    background-image: linear-gradient(-45deg, #4fd960 25%, #43cb54 25%, #43cb54 50%, #4fd960 50%, #4fd960 75%, #43cb54 75%, #43cb54);
    background-size: 20px 20px;
    animation: loading 4s linear infinite;
  }

  &[disabled] {
    @apply text-gray-000;
    @apply cursor-default;
    @apply bg-green-500;
    @apply border border-green-500;
  }
}

.snapshot-reject-button {
  &.is-loading {
    background-image: linear-gradient(-45deg, #ffdfcc 25%, #ffefe6 25%, #ffefe6 50%, #ffdfcc 50%, #ffdfcc 75%, #ffefe6 75%, #ffefe6);
    background-size: 20px 20px;
    animation: loading 4s linear infinite;
  }

  &:hover,
  &:focus,
  &:focus:active {
    @apply text-orange-500;
    @apply bg-orange-100;
  }
}

.btn-alt-success {
  @apply text-green-500;
  @apply border border-green-500;
  @apply bg-transparent;

  &:hover,
  &:focus,
  &:focus:active {
    @apply text-green-500;
    @apply border border-green-600;
    @apply bg-transparent;
  }
}

.build-approval-button {
  @apply pl-7;
  @apply font-bold;
  @apply relative;
  @apply border-0;
  @apply overflow-hidden;
  width: 146px;
  height: 42px;
  box-shadow: 0 2px 6px rgba(96, 217, 87, 0.6);
  transition: width 250ms;

  &:hover,
  &.is-loading {
    span {
      @apply opacity-0;
      transform: translate3d(60px, 0, 0);
    }

    .svg-container {
      transform: translate3d(38px, -50%, 0) rotate(-10deg);
    }
  }

  &.is-approved {
    @apply pl-0;
    @apply pointer-events-none;
    width: 62px;

    &:hover {
      .svg-container {
        transform: translate3d(0, -50%, 0) rotate(0deg);
      }
    }

    span {
      @apply opacity-0;
    }
  }

  .svg-container {
    @apply absolute;
    top: 50%;
    left: 16px;
    transition: transform 250ms;
    transform: translate3d(0, -50%, 0);
  }

  span {
    transition: opacity 250ms, transform 250ms;
  }
}

.btn-icon-only {
  @apply text-gray-700;
  @apply p-0;
  @apply border-0;
  @apply leading-normal;
  @apply bg-transparent;
  height: auto !important;

  &:hover,
  &:focus,
  &:active,
  &:focus:active {
    @apply border-0;
    @apply bg-transparent;
  }

  > svg {
    @apply block;
  }
}

.btn-app-access {
  @apply bg-purple-600;
  @apply border border-purple-600;
  height: 42px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 12px 0 rgba(46, 0, 62, 0.24), 0 12px 24px 0 rgba(39, 0, 52, 0.12);

  &:hover {
    @apply text-white;
    @apply bg-purple-700;
    @apply border border-purple-700;
  }

  &:focus,
  &:focus:active {
    @apply bg-purple-700;
    @apply border border-purple-700;
  }
}

.btn-group {
  @apply grid;
  grid-auto-flow: column;
  grid-gap: 1px;

  > .btn:not(:first-child):not(:last-child) {
    @apply rounded-none;
  }

  > .btn:first-child:not(:last-child) {
    @apply rounded-r-none;
    @apply rounded-l;
  }

  > .btn:last-child:not(:first-child) {
    @apply rounded-l-none;
    @apply rounded-r;
  }
}

.btn-group-alt {
  .btn {
    @apply text-gray-700;
    @apply bg-white;

    &:hover {
      @apply bg-gray-000;
    }

    &.is-active {
      @apply text-white;
      @apply bg-gray-700;
      box-shadow: none;
      transform: translate3d(0, 0, 0);
    }

    &.has-diffs {
      @apply text-purple-600;

      &:hover {
        @apply bg-purple-100;
      }

      &.is-active {
        @apply text-white;
        @apply bg-purple-600;
        box-shadow: inset 0 1px 1px rgba(92, 0, 123, 0.2);
      }
    }
  }
}

.btn-toolbar {
  @apply grid;
  grid-auto-flow: column;
  grid-gap: theme("spacing.1");
}

.btn-scale {
  transition: transform 250ms;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.025) translate3d(0, 0, 0);
  }
}

.btn-white,
a.btn-white {
  @apply bg-white;
  @apply text-gray-700;

  &:hover {
    @apply text-purple-600;
  }
}

.btn-green,
.btn-purple,
.btn-orange {
  @apply text-white;
  text-shadow: 0 1px 2px rgba(63, 58, 64, 0.2);
}

.btn-green,
.btn-green:hover,
.btn-green:focus,
.btn-green:focus:active {
  @apply text-white;
  @apply bg-green-500;
}

.btn-purple,
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:focus:active {
  @apply text-white;
  @apply bg-purple-600;
}

.btn-orange,
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:focus:active {
  @apply text-white;
  @apply bg-orange-500;
}
