.Card {
  position: relative;
  padding: 10px;
  @apply bg-gray-000;
  border: var(--lighter-gray-border);
}

.Card--selected {
  background: var(--very-light-gray);
  border: 1px solid var(--lighter-gray);
}

.Card--linkable:hover {
  cursor: pointer;
  border: var(--lighter-gray-border-hover);
}

.Card--white {
  @apply bg-white;
}

.Card--extraPadded {
  padding: 40px;
}

.Card--expando {
  @apply bg-gray-000;
}
