/* stylelint-disable selector-no-qualifying-type */

.Form {
  @apply w-full;

  textarea {
    @apply w-full;
    @apply mb-0;
    height: 100px;
  }

  input[type="checkbox"] {
    @apply float-left;
    margin-top: 3px;
  }

  .Form-errors {
    @apply mt-0;
    @apply font-bold;
    @apply text-red-500;
    @apply list-none;
    margin-bottom: 10px;

    li {
      @apply mb-0;
    }
  }
}

select {
  @apply appearance-none;
  padding-right: 25px;
  background-image: url("/images/caret-down.svg");
  background-repeat: no-repeat;
  background-position: right center;

  &:hover {
    @apply bg-gray-000;
    @apply border border-gray-200;
  }
}

.form-control {
  @apply block;
  @apply w-full;
  @apply text-primary;
  @apply bg-white;
  @apply py-1;
  @apply px-2;
  @apply leading-normal;
  @apply border;
  @apply rounded;
  font-size: 16px;
  background-clip: padding-box;
  transition: border-color 250ms, box-shadow 250ms;

  &::placeholder {
    opacity: 0.4 !important;
  }

  &:focus,
  &:focus:active {
    @apply outline-none;
    @apply border-purple-600;
    box-shadow: 0 0 2px theme("colors.purple.600");
  }

  &.error {
    @apply border border-red-500;
  }
}

label > .label-body {
  @apply inline-block;
  @apply mb-sm;
  @apply font-semibold;
}
