.is-invisible {
  @apply invisible;
}

.bg-purple-light {
  @apply bg-purple-100;
}

.shadow-l {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.bg-purple-gradient {
  background: linear-gradient(45deg, theme("colors.purple.800") 0%, theme("colors.purple.700") 100%);
}

.bg-purple-gradient-pattern {
  background: url("/images/pattern-on-purple.svg"), linear-gradient(45deg, theme("colors.purple.800") 0%, theme("colors.purple.700") 100%);
}

.bg-purple-pattern {
  background: url("/images/pattern-on-purple.svg"), theme("colors.purple.600");
}

.bg-white-pattern {
  @apply bg-white;
  background: url("/images/pattern-on-white.svg");
}

.bg-gray-pattern {
  background: url("/images/pattern-on-gray.svg");
}

.bg-gradient-pattern {
  @apply bg-purple-200;
  background: linear-gradient(180deg, rgba(254, 252, 254, 0) 0%, rgba(254, 252, 254, 0.6) 100%), url("/images/pattern-on-white.svg");
}

.bg-white-gradient-pattern {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), url("/images/pattern-on-white.svg");
  @apply bg-white;
}

.alt-p {
  font-size: 16px;
}

.alt-a {
  @apply py-xs;
  @apply px-1;
  @apply rounded;
  background: rgba(255, 255, 255, 0.15);
}

.h-screen-header {
  height: calc(100vh - var(--header-height));
}

.scale-15 {
  transform: scale(1.5);
}

.text-0 {
  font-size: 0;
}
