.LargeXIcon {
  @apply block;
  @apply text-gray-200;
  font-size: 8rem;
  text-shadow: -1px 0 theme("colors.gray.400"), 0 1px theme("colors.gray.400"), 1px 0 theme("colors.gray.400"), 0 -1px theme("colors.gray.400");
}

.Viewer-pdiffImageBox {
  @apply relative;
  @apply w-full;
  @apply select-none;
  @apply border border-gray-100;
}

.pdiffImageOverlay {
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply w-full;

  &:hover {
    .diff-overlay-badge {
      @apply opacity-75;
    }
  }
}

.Viewer-pdiffImageBox--actionable {
  @apply cursor-pointer;
  @apply select-none;

  &:hover {
    @apply border border-gray-200;
  }
}

.Viewer-pdiffImageOverlay {
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply cursor-pointer;
  @apply select-none;
  @apply bg-white;
  @apply trans;
  box-shadow: 0 0 0 1px theme("colors.gray.100");
  backdrop-filter: saturate(50%) blur(2px);
  opacity: 0.9;

  &:hover {
    box-shadow: 0 0 0 1px theme("colors.red.200"), 0 0 4px theme("colors.red.100");
    backdrop-filter: none;
  }
}

.diff-overlay-badge {
  @apply absolute;
  @apply px-1;
  @apply py-sm;
  @apply bg-red-500;
  @apply text-white;
  @apply font-bold;
  @apply leading-none;
  @apply opacity-0;
  @apply text-xs;
  @apply rounded;
  @apply trans;
  top: theme("spacing.1");
  right: theme("spacing.1");
}
