<section class="pt-3">
  <div class="w-3/4 pb-3">
    <h1 class="text-xl font-semibold mb-sm leading-none">Percy integrations</h1>
    <p class="text-gray-400">Integrations will let you get Percy running on various platforms with ease. Some integrations might require more configuration. Feel free to check out our <a href="https://docs.percy.io/v1/docs/supported-scm-integrations" target="_blank">integration docs</a> if you need some guidance.
    As always, if you’re stuck with something, feel free to reach out and we’d love to help you out.</p>
  </div>
</section>

<div data-test-all-integrations>
  {{#if organization.isIntegrated}}
    <section class="px-2">
      <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
        <h2 data-test-integrations-installed class="text-xl font-semibold mb-2">Installed integrations</h2>
        <div class="bg-gray-000 rounded border border-gray-100">
          {{#each versionControlIntegrations as |integration|}}
            {{organizations/integrations/integration-item
              integrationName=integration.integrationType
              integrationStatus=integration.status
              organization=organization
            }}
          {{/each}}
          {{#if organization.isSlackIntegrated}}
            {{organizations/integrations/integration-item
              integrationName='slack'
              organization=organization
            }}
          {{/if}}
        </div>
      </div>
    </section>
  {{/if}}

  <section>
    <div data-test-integrations-available class="bg-white rounded shadow-1 border-t mb-2">
      {{#each availableIntegrations as |integrationName| }}
        {{organizations/integrations/integration-item
          integrationName=integrationName
          organization=organization
        }}
      {{/each}}
      {{#if organization.isSlackAllowed}}
        {{#if organization.isNotSlackIntegrated}}
          {{organizations/integrations/integration-item
            integrationName='slack'
            organization=organization
          }}
        {{/if}}
      {{/if}}
    </div>
  </section>
</div>
