<div data-test-slack-integration-page>
  {{organizations/integrations/slack-settings
    organization=organization
    connectSlackChannel=(route-action "connectSlackChannel")
    deleteSlackIntegration=(route-action "deleteSlackIntegration")
    createNewIntegrationConfig=(route-action "createNewIntegrationConfig")
    deleteSlackIntegrationConfig=(route-action "deleteSlackIntegrationConfig")
  }}
</div>
