<div data-test-integration-slack>
  <section data-test-integration-header class="px-2 pt-3">
    <div class="w-3/4">
      <h1 class="text-xl font-semibold mb-sm">Integrate with Slack</h1>
      <p class="text-secondary">
        The Percy Slack integration helps you keep your team updated about visual changes in your app.
      </p>
    </div>
  </section>

  {{outlet}}
</div>
