.btn-toggle {
  @apply relative;
  @apply grid;
  @apply grid-flow-col;
  @apply p-xs;
  @apply rounded-full;
  @apply bg-btn-toggle;
  @apply text-sm;
  @apply font-bold;
  @apply leading-none;
  height: 30px;
}

.btn-toggle-lg {
  height: 42px;

  .btn-toggle-item {
    height: 38px;
  }
}

.btn-toggle-item {
  @apply flex;
  @apply items-center;
  @apply relative;
  @apply px-2;
  @apply text-secondary;
  @apply leading-none;
  @apply select-none;
  @apply cursor-pointer;
  @apply z-1;
  height: 26px;
  transition: color 250ms;
}

.btn-toggle-item:hover {
  @apply text-primary;
}

.btn-toggle-item.is-selected {
  @apply relative;
  @apply px-2;
  @apply py-1;
  @apply text-primary;
  @apply pointer-events-none;
  @apply z-1;
}

.btn-toggle-item::before {
  content: "";
  @apply block;
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply w-full;
  @apply h-full;
  @apply bg-primary;
  @apply rounded-full;
  @apply opacity-0;
  z-index: -1;
  transition: opacity 250ms, transform 250ms;
  transform: scale(0.8);
}

.btn-toggle-item.is-selected::before {
  @apply opacity-100;
  transform: scale(1);
}
