.build-card-placeholder {
  @apply relative;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply px-4;
  height: 98px;
}

.line-loader-container {
  @apply absolute;
  @apply bottom-0;
  @apply w-full;
  @apply bg-gray-100;
  @apply overflow-hidden;
  @apply h-px;
}

.line-loader {
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply bg-purple-600;
  @apply w-1/2;
  @apply h-px;
  animation: line-loading 1.5s ease-in-out infinite alternate;
}

@keyframes line-loading {
  0% {
    transform: translateX(-85%);
  }

  100% {
    transform: translateX(185%);
  }
}

.build-card-container {
  @apply bg-white;
}

.build-card-container:hover .status-pill {
  transform: scale(1.05);
}

.build-card {
  @apply grid;
  @apply items-center;
  @apply w-90vw;
  @apply max-w-xl;
  @apply py-3;
  @apply mx-auto;
  @apply border-b;
  @apply cursor-pointer;
  grid-gap: theme("spacing.4");
  grid-template-areas:
    "build"
    "details"
    "diffs"
    "comments"
    "status";
}

@media screen and (min-width: 768px) {
  .build-card {
    grid-template-areas: "build details diffs comments status";
    grid-template-columns: 108px 5fr 158px 22px 130px;
  }
}
