.collaboration-panel {
  @apply flex;
  @apply flex-col;
  @apply w-320;
  @apply py-1;
}

.collaboration-panel textarea::placeholder {
  @apply text-gray-300;
  @apply opacity-100;
}

.collaboration-container {
  @apply flex-1;
  @apply px-2 pt-3;
  @apply bg-ternary;
  @apply border-l border-ternary;
  @apply border-r-0;
}

.collaboration {
  @apply relative;
  @apply mb-6;
}

.collaboration-comment-replied::before {
  content: "";
  @apply absolute bottom-0;
  @apply block;
  @apply w-px;
  @apply bg-code;
  top: 36px;
  left: 14px;
}

.collaboration-content-inset {
  @apply relative;
}

.collaboration-new-thread {
  height: 140px;
  padding: 6px 10px;
}

.collaboration-collapsed-comment-reply {
  @apply min-h-0;
  @apply h-28;
  @apply text-sm;
  @apply font-semibold;
  @apply py-sm;
  @apply px-1;
}

.collaboration-content-inset,
.collaboration-comment-reply {
  padding-left: 36px;
}

.collaboration-comment-reply {
  @apply mb-3;
}

@media screen and (max-width: 1012px) {
  .collaboration-panel {
    @apply w-full;
  }

  .collaboration-container {
    @apply px-0;
    @apply bg-transparent;
    @apply border-0;
  }
}

.collaboration-conversation-count {
  @apply absolute top-0 right-0;
  @apply flex items-center justify-center;
  @apply bg-purple-600;
  @apply border-secondary border-2;
  @apply text-sm font-bold text-white leading-none;
  @apply z-1;
  top: -4px;
  right: -4px;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
}
