/* stylelint-disable selector-max-specificity */

.dropdown {
  @apply flex;
  @apply relative;

  &.is-visible {
    .dropdown-toggle {
      @apply rounded-t;
      @apply rounded-b-none;

      &:hover {
        @apply bg-ternary;

        svg {
          animation: none;
        }
      }

      svg {
        transform: rotate(180deg);
      }

      @media screen and (max-width: 768px) {
        box-shadow: 0 4px 0 #fff, 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
      }
    }

    .dropdown-menu {
      @apply block;
    }
  }

  .dropdown-toggle,
  .ember-basic-dropdown-trigger {
    &:focus,
    &:focus:active {
      @apply bg-ternary;
      @apply outline-none;
    }

    &:hover svg {
      animation: up-down 500ms linear infinite;
    }
  }
}

.dropdown-menu-list-item {
  box-shadow: inset 0 0 0 theme("colors.blue.500");
  transition: box-shadow 250ms;

  &:hover {
    box-shadow: inset 2px 0 0 theme("colors.blue.500");
  }
}

.dropdown-menu {
  @apply bg-ternary;
  @apply overflow-hidden;
  width: 220px;
  border-radius: theme("borderRadius.default") 0 theme("borderRadius.default") theme("borderRadius.default");
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06);

  @media screen and (max-width: 768px) {
    @apply left-0;
    top: calc(100% + 4px);
    right: auto;
    border-radius: 0 theme("borderRadius.default") theme("borderRadius.default") theme("borderRadius.default");

    &::before {
      content: "";
      @apply block;
      @apply absolute;
      @apply left-0;
      @apply h-1;
      @apply bg-white;
      top: -4px;
      width: 30px;
    }
  }
}
