/*
  Just a normal, regular, good ol' button
*/

.percy-btn {
  @apply inline-block;
  @apply px-2 py-1;
  @apply border border-input;
  @apply rounded;
  @apply text-sm font-bold text-secondary leading-none;
  @apply bg-action;
  @apply h-10;
  @apply no-underline;
  @apply whitespace-no-wrap;
  @apply select-none;
  @apply trans;
}

.percy-btn-md {
  @apply h-12;
  @apply px-3 py-1-1/2;
  @apply text-base;
}

.percy-btn-sm {
  @apply text-sm;
  @apply px-1;
  @apply py-xs;
  @apply leading-normal;
  height: 24px;
}

.percy-btn:hover,
.percy-btn:focus,
.percy-btn:focus:active {
  @apply text-primary;
  @apply bg-action;
  @apply border-input;
  @apply no-underline;
  background: var(--bg-color-action-hover);
}

.percy-btn svg {
  @apply inline-block;
  vertical-align: baseline;
}

/*
  A nice, beautiful, Percy purp button.
  percy-btn must be before percy-btn-primary in the element's class list
*/

.percy-btn-primary,
.percy-btn-primary[disabled],
.percy-btn-primary:hover,
.percy-btn-primary:focus,
.percy-btn-primary:focus:active {
  @apply border;
  @apply border-transparent;
  @apply text-white;
  @apply bg-purple-600;
  @apply shadow-y-lg-purple-600;
  text-shadow: 0 1px 1px rgba(63, 58, 64, 0.2);
}

.percy-btn.hidden {
  display: none;
}

.percy-btn-primary-round {
  @apply w-28;
  @apply h-28;
  @apply px-0;
  @apply mr-1;
  @apply rounded-full;
}

.percy-btn-primary.is-loading {
  @apply table; /* safari needs a forced repaint to draw the gradient again after loading is finished */
  background-image: linear-gradient(-45deg, theme("colors.purple.700") 25%, theme("colors.purple.600") 25%, theme("colors.purple.600") 50%, theme("colors.purple.700") 50%, theme("colors.purple.700") 75%, theme("colors.purple.600") 75%, theme("colors.purple.600"));
  background-size: 20px 20px;
  animation: loading 4s linear infinite;
}

.percy-btn-primary:hover,
.percy-btn-primary:focus,
.percy-btn-primary:focus:active {
  @apply animate-scale;
}

.percy-btn-secondary {
  @apply border-purple-300;
  @apply text-purple-600;
}

.percy-btn-secondary:hover,
.percy-btn-secondary:focus,
.percy-btn-secondary:focus:active {
  @apply text-purple-600;
  @apply bg-purple-100;
  @apply no-underline;
}

.theme-dark {
  .percy-btn-secondary {
    @apply border-transparent;
    @apply text-white;
  }

  .percy-btn-secondary:hover,
  .percy-btn-secondary:focus,
  .percy-btn-secondary:focus:active {
    @apply text-white;
    @apply bg-dark-400;
    @apply no-underline;
  }
}

.percy-btn-danger {
  @apply border-red-100;
  @apply text-red-500;

  &:hover,
  &:focus,
  &:focus:active {
    @apply bg-red-500;
    @apply text-white;
  }
}
