.ember-power-select-dropdown {
  @apply relative;
  @apply border-gray-100;
  @apply z-top;
}

.ember-power-select-dropdown.ember-basic-dropdown-content--below,
.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  @apply border border-gray-100;
}

.ember-basic-dropdown {
  @apply relative;
}

.ember-power-select-trigger {
  @apply flex;
  @apply items-center;
  @apply relative;
  @apply h-11;
  @apply px-1-1/2;
  @apply font-semibold;
  @apply bg-transparent;
  @apply border border-gray-100;
  @apply rounded;
  @apply select-none;
  @apply min-h-0;
  @apply leading-normal;
}

.ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded="true"],
.ember-basic-dropdown-trigger--in-place.ember-power-select-trigger[aria-expanded="true"] {
  @apply rounded;
}

.ember-power-select-placeholder {
  @apply ml-0;
  @apply text-gray-300;
}

.ember-power-select-clear-btn {
  @apply absolute right-0 px-2 text-xl;
}

.ember-basic-dropdown-content {
  @apply absolute;
  @apply z-top;
  @apply bg-transparent;
}

.ember-power-select-dropdown.ember-basic-dropdown-content {
  @apply max-w-full;
  @apply bg-white border border-gray-100 rounded shadow-lg;
  @apply overflow-scroll;
  top: calc(100% + 8px);
  @apply w-full;
  min-width: 360px;
  max-height: 400px;
}

.ember-basic-dropdown-content--right {
  @apply right-0;
}

.ember-power-select-trigger:focus {
  @apply outline-none;
}

.ember-power-select-status-icon {
  @apply hidden;
}

.ember-power-select-search {
  @apply sticky top-0;
  @apply p-1;
  @apply bg-white border-b rounded-t border-gray-100;
}

.ember-power-select-search-input {
  @apply w-full h-11 !important;
  @apply m-0 px-1-1/2 !important;
  @apply text-sm font-semibold !important;
}

.ember-power-select-search-input::placeholder {
  @apply text-gray-300;
}

.ember-power-select-search-input:focus {
  @apply border-purple-600 shadow-purple-600 !important;
}

.ember-power-select-group {
  @apply pt-4 m-0;
}

.ember-power-select-group-name {
  @apply block;
  @apply px-2 pb-sm;
  @apply text-gray-300 font-semibold text-sm leading-none;
  @apply border-b border-gray-100;
}

.ember-power-select-group .ember-power-select-group-name {
  @apply pl-2;
}

.ember-power-select-group .ember-power-select-option {
  @apply pl-2;
}

.ember-power-select-options {
  @apply m-0;
}

.ember-power-select-selected-item {
  @apply ml-0;
}

.ember-power-select-options[role="listbox"] {
  @apply max-h-full;
}

.ember-power-select-option {
  @apply p-2 m-0;
  @apply font-semibold leading-none;
  @apply border-b border-gray-100;
  @apply cursor-pointer;
  @apply truncate;
}

.ember-power-select-option:hover,
.ember-power-select-option[aria-current="true"] {
  @apply bg-gray-000;
  @apply text-gray-600;
}

.ember-power-select-option--no-matches-message {
  @apply text-gray-200;
}

/* component specific styles */
.ember-power-select-branch-filter-trigger {
  @apply h-auto;
  @apply px-1;
  @apply font-mono;
  @apply font-normal;
  @apply text-sm;
  @apply bg-gray-100;
  @apply border-none;
  @apply rounded;
  @apply truncate;
}

.ProjectsRepoIntegrator .ember-basic-dropdown {
  @apply w-1/2;
  min-width: 360px;
}

.BuildInfoDropdown-modal {
  @apply absolute;
  @apply rounded;
}

.ProjectsRepoIntegratorRefreshStatus {
  @apply sticky bottom-0;
  @apply px-2 py-1;
  @apply font-semibold text-sm text-gray-300 leading-none;
  @apply bg-white border-t rounded-b border-gray-100;
}

.repo-selector .ember-basic-dropdown {
  min-width: 360px;
}
