/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable property-no-vendor-prefix */

input[type=range] {
  @apply w-full;
  @apply appearance-none;
  font-size: 0;
}

input[type=range]:focus {
  @apply outline-none;
}

/* Chrome & Safari support */

input[type=range]::-webkit-slider-runnable-track {
  @apply cursor-pointer;
  @apply bg-purple-300;
  @apply w-full;
  @apply h-1;
  @apply border border-purple-500;
  @apply rounded-sm;
}

input[type=range]::-webkit-slider-thumb {
  @apply cursor-pointer;
  @apply bg-purple-600;
  @apply rounded-full;
  @apply w-8;
  @apply h-8;
  @apply appearance-none;
  margin-top: -12px;
  box-shadow: 0 4px 12px rgba(158, 102, 191, 0.4);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  @apply bg-purple-300;
  @apply border border-purple-500;
}

/* Firefox support */

input[type=range]:focus::-moz-range-track {
  @apply bg-purple-300;
  @apply border border-purple-500;
}

input[type=range]::-moz-focus-outer {
  @apply border-none;
}

input[type=range]::-moz-range-track {
  @apply cursor-pointer;
  @apply bg-purple-300;
  @apply w-full;
  @apply border border-purple-500;
  @apply rounded-sm;
  height: 2px;
}

input[type=range]::-moz-range-thumb {
  @apply cursor-pointer;
  @apply bg-purple-600;
  @apply rounded-full;
  @apply border-none;
  @apply w-8;
  @apply h-8;
  box-shadow: 0 4px 12px rgba(158, 102, 191, 0.4);
}

/* Edge styling */

input[type=range]::-ms-tooltip {
  @apply hidden;
}

input[type=range]::-ms-track {
  @apply bg-transparent;
  @apply w-full;
  @apply h-1;
  @apply cursor-pointer;
  @apply text-transparent;
  @apply border-transparent;
  border-top-width: 10px;
  border-bottom-width: 12px;
}

input[type=range]::-ms-fill-lower {
  @apply cursor-pointer;
  @apply bg-purple-300;
  @apply w-full;
  @apply h-1;
  @apply rounded-sm;
  @apply border border-purple-500;
}

input[type=range]::-ms-fill-upper {
  @apply cursor-pointer;
  @apply bg-purple-300;
  @apply w-full;
  @apply h-1;
  @apply border border-purple-500;
  @apply rounded-sm;
}

input[type=range]::-ms-thumb {
  @apply cursor-pointer;
  @apply bg-purple-600;
  @apply rounded-full;
  @apply border-none;
  @apply w-8;
  @apply h-8;
  @apply -mt-sm;
  box-shadow: 0 4px 12px rgba(158, 102, 191, 0.4);
}

input[type=range]:focus::-ms-fill-lower {
  @apply bg-purple-400;
  @apply border border-purple-500;
}

input[type=range]:focus::-ms-fill-upper {
  @apply bg-purple-400;
  @apply border border-purple-500;
}
