.snapshot-group-snapshot .SnapshotViewer-header {
  @apply rounded-l;
  top: 121px;
}

.snapshot-group-snapshot .SnapshotViewer-header::before {
  @apply block;
  @apply absolute;
  @apply h-3;
  @apply w-full;
  @apply -mt-2;
  @apply -ml-px;
  @apply bg-gray-000;
  content: "";
  height: 15px;
}

.snapshot-group-snapshot .snapshot-icon {
  @apply hidden;
}

.snapshot-group-indent-line {
  @apply absolute;
  @apply top-0;
  @apply w-px;
  @apply h-full;
}

.snapshot-group-indent-line-gradient {
  background: linear-gradient(180deg, theme("colors.purple.600") 0%, theme("colors.gray.100") 100%);
}

.snapshot-group-indent-line-changes-requested-gradient {
  background: linear-gradient(180deg, theme("colors.orange.500") 0%, theme("colors.gray.100") 100%);
}

.snapshot-group-comparison-viewer.ComparisonViewer {
  @apply bg-white;
  @apply border;
  @apply rounded;
}
