/*
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @apply bg-primary;
  @apply text-primary;
  @apply font-sans;
  @apply text-base;
  -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  @apply text-blue-500;
  @apply no-underline;
  transition: color 250ms;
}

a:hover {
  @apply text-blue-500; /* In case there is a color altering class on a link for it's not hovered state */
  @apply underline;
}

a > code {
  @apply text-blue-500;
  @apply bg-blue-000;
}

b,
strong {
  @apply font-semibold;
}

hr {
  @apply h-0;
  @apply bg-transparent;
  @apply border-0;
  @apply border-b;
  @apply overflow-hidden;
  margin: 15px 0;
}

/* Remove most spacing between table cells. */
table {
  @apply border-collapse;
  border-spacing: 0;
}

td,
th {
  @apply p-0;
}

button {
  @apply cursor-pointer;
  @apply rounded-none; /* Remove border radius added by Chroma macOS */
}

svg:not(:root) {
  @apply overflow-visible;
}

img {
  @apply max-w-full;
}

ol,
ul {
  @apply mt-0;
}

ul {
  @apply list-disc;
}

ul ul {
  @apply list-circle;
}

ol {
  @apply list-decimal;
}
