/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-0;
  @apply mb-0;
}

/* Body text */

p {
  @apply mb-2;
}

small {
  font-size: 90%;
}

blockquote {
  @apply m-0;
}

/* Lists */

ul,
ol {
  @apply mt-0;
  @apply mb-0;
  @apply pl-0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  @apply ml-0;
}

/* Code */
code {
  @apply font-mono;
  @apply py-0;
  @apply px-1;
  @apply font-normal;
  @apply text-gray-700;
  @apply tracking-sm;
  @apply whitespace-no-wrap;
  @apply bg-gray-100;
  @apply rounded;
}

code,
kbd,
pre,
samp {
  @apply text-sm;
  @apply font-mono;
  @apply mt-0;
  @apply mb-0;
  @apply font-normal;
  @apply tracking-sm;
}

pre > code {
  @apply block;
  @apply p-1;
  @apply whitespace-pre;
}

strong {
  @apply font-semibold;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400;
}
