<div data-test-slack-integration-page>
  {{#if isAdmin}}
    {{organizations/integrations/slack-details-container
      showSlackIntegrationList=true
      organization=organization
      connectSlackChannel=(route-action "connectSlackChannel")
      deleteSlackIntegration=(route-action "deleteSlackIntegration")
    }}
  {{else}}
    {{organizations/integrations/slack-permissions-warning}}
  {{/if}}
</div>
