.ProjectsDiffBaseSettings {
  .SavingIndicator {
    float: right;
    margin-top: 10px;
  }

  .ProjectsDiffBaseSettings-setting {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    @apply bg-gray-000;
    border: var(--lighter-gray-border);

    .fa-arrow-right {
      @apply text-purple-600;
      position: absolute;
      top: 13px;
    }

    p {
      margin-left: 1.9rem;
    }

    .ProjectsDiffBaseSettings-title {
      margin-left: 1.9rem;
      font-size: 110%;
      font-weight: bold;
    }

    &.ProjectsDiffBaseSettings-setting--selected {
      background: var(--very-light-gray);
      border: 1px solid var(--lighter-gray);
    }
  }

  .ProjectsDiffBaseSettings-setting:hover {
    cursor: pointer;
    border: var(--lighter-gray-border-hover);
  }
}
