/* stylelint-disable selector-max-compound-selectors */

.bar {
  @apply rounded-t;
  height: var(--bar-height);
  min-height: 1px;
  transition: background 75ms;

  &:not(.bar-future):hover {
    @apply bg-purple-700;
  }
}

.bar-future {
  @apply h-1;
}

.animated-bar-item {
  max-height: 0;
  animation: bar-height 0.5s ease-out !important;
  animation-fill-mode: forwards !important;

  @for $i from 1 to 31 {
    &:nth-child($(i)) {
      animation-delay: ($i * 40) * 1ms !important;
    }
  }
}

@keyframes bar-height {
  to {
    max-height: 200px;
  }
}

.bar-item {
  &::after {
    @apply absolute;
    @apply w-full;
    @apply font-bold;
    @apply text-gray-200;
    @apply text-center;
    @apply text-sm;
    content: attr(data-label);
    bottom: -20px;

    @media screen and (max-width: 768px) {
      @apply hidden;
    }
  }
}

.bar-item-today {
  &::after {
    @apply text-purple-600;
  }
}

.BillingSection-left-col {
  width: 350px;
}
