.browser-switcher-diff-count {
  @apply flex;
  @apply items-center;
  @apply top-0;
  @apply text-xs;
  @apply rounded-xl;
  right: 2px;
  min-width: 14px;
  height: 14px;
  transition: transform 250ms, background 250ms, color 250ms;

  svg {
    fill: theme("colors.gray.300");
    transition: fill 250ms;
  }
}

.is-selected {
  .browser-switcher-diff-count {
    transform: translate3d(2px, -4px, 0);

    svg {
      fill: theme("colors.white");
    }
  }
}

.is-selected svg,
.browser-switcher:hover svg {
  @apply opacity-100;
}

.SnapshotViewer-header {
  .browser-switcher svg {
    transform: scale(0.75);
  }
}
