.browser-family-selector,
.browser-family-selector-enable,
.browser-family-selector-icon,
.browser-family-selector-detail,
.browser-family-selector-name {
  transition: border 250ms, box-shadow 250ms, background 250ms, opacity 250ms, transform 250ms;
  transform-origin: center 100%;
}

.browser-family-selector {
  &:hover:not(.is-selected) {
    @apply border border-blue-500;
    background: url("/images/pattern-on-white.svg");
    background-color: theme("colors.blue.000");
    box-shadow: 0 0 16px rgba(29, 141, 219, 0.2);
    animation: move-background 8s linear infinite;

    .browser-family-selector-detail {
      transform: translate3d(0, 26px, 0);
    }

    .browser-family-selector-icon {
      transform: scale(1.1);
    }

    .browser-family-selector-enable {
      @apply opacity-0;
    }

    .browser-family-selector-name {
      transform: translate3d(0, 0, 0);
    }

    span {
      @apply opacity-100;
    }
  }

  &.is-selected {
    @apply border-purple-600;
    background: url("/images/pattern-on-white.svg");
    background-color: theme("colors.purple.200");
  }

  &:not(.is-selected) {
    .browser-family-selector-name {
      transform: translate3d(-24px, 0, 0);
    }
  }
}

@keyframes move-background {
  100% { background-position: -300px 0; }
}
