/* stylelint-disable selector-max-compound-selectors, value-no-vendor-prefix, property-no-vendor-prefix */

.BuildInfoDropdown-modal {
  @apply bg-ternary;
  @apply mt-1;
  width: calc(100% - 45px);
  max-width: 450px;
  padding: 20px;
  margin-bottom: 100px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000000;

  h4 {
    @apply text-lg;
  }

  table {
    code,
    pre {
      @apply whitespace-pre-wrap;
    }

    tr {
      td {
        @apply break-all;
        @apply align-top;
        @apply border-b;
        padding: 5px 10px 5px 0;

        pre {
          @apply m-0;
        }
      }

      td:first-child {
        @apply font-bold;
        width: 135px;
      }

      &:last-child {
        td {
          @apply border-b-0;
        }
      }
    }

    .BuildInfoDropdown-fullWidthValue {
      td:first-child {
        @apply pt-0;
        @apply font-normal;
      }
    }
  }
}
