.ProjectsDiffBaseSettings {
  .SavingIndicator {
    @apply float-right;
    margin-top: 10px;
  }

  .ProjectsDiffBaseSettings-setting {
    @apply relative;
    @apply bg-gray-000;
    @apply border;
    padding: 10px;
    margin-bottom: 10px;

    .fa-arrow-right {
      @apply text-purple-600;
      @apply absolute;
      top: 13px;
    }

    p {
      margin-left: 1.9rem;
    }

    .ProjectsDiffBaseSettings-title {
      @apply font-bold;
      margin-left: 1.9rem;
      font-size: 110%;
    }

    &.ProjectsDiffBaseSettings-setting--selected {
      @apply bg-gray-100;
      @apply border;
    }
  }

  .ProjectsDiffBaseSettings-setting:hover {
    @apply cursor-pointer;
    @apply border border-gray-000;
  }
}
