/* stylelint-disable selector-max-specificity */

.menu-icon {
  &.is-closeable {
    .menu-icon-line {
      @apply opacity-0;
      @apply w-2;
    }

    .menu-icon-line:nth-child(2) {
      @apply opacity-100;
      transform: rotate(-45deg) translateY(-1px);
    }

    .menu-icon-line:nth-child(3) {
      @apply opacity-100;
      transform: rotate(45deg) translateY(1px);
    }
  }

  &:not(.is-closeable):hover {
    .menu-icon-line {
      &:nth-child(1) {
        transform: translateX(2px);
      }

      &:nth-child(2) {
        transform: translateX(6px);
      }

      &:nth-child(4) {
        transform: translateX(4px);
      }
    }
  }
}

.menu-icon-line {
  @apply rounded-sm;
  @apply bg-purple-800;
  height: 2px;
  transition: opacity 250ms, transform 250ms;
  transform-origin: center;

  &:not(:last-child) {
    @apply mb-xs;
  }

  &:nth-child(1) {
    width: 14px;
  }

  &:nth-child(2) {
    width: 10px;
  }

  &:nth-child(4) {
    width: 12px;
  }
}

.marketing-hero-dark {
  .menu-icon-line {
    @apply bg-white;
  }
}
