.SnapshotViewer {
  @apply bg-secondary;

  &.SnapshotViewer--actionable {
    @apply cursor-pointer;
  }
}

.SnapshotViewer-header {
  @apply sticky;
  @apply grid;
  @apply gap-4;
  @apply z-3;
  @apply px-2;
  @apply py-1;
  @apply bg-secondary;
  @apply shadow-px;
  @apply border-t;
  @apply border-b;
  top: 58px;
  grid-template-columns: 1fr auto;
}

.SnapshotViewer-header-full {
  @apply z-1;
  @apply top-0;
  min-width: 680px;
  grid-template-columns: 1fr auto 1fr;
}

.maximize-snapshot,
.minimize-snapshot {
  path {
    transition: transform 250ms cubic-bezier(0.68, -2.55, 0.265, 2.55);
  }

  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}
