/* stylelint-disable selector-max-compound-selectors, selector-max-specificity */

.SnapshotViewerFullModalWrapper {
  @apply absolute;
  @apply top-0;
  @apply right-0;
  @apply bottom-0;
  @apply left-0;
  @apply h-screen;
  @apply z-1;
  @apply overflow-hidden;

  .ember-modal-dialog,
  .ember-modal-overlay {
    @apply relative;
  }

  .ember-modal-overlay {
    @apply w-auto;
    @apply h-auto;
    padding-bottom: 20px;
  }

  /* This allows us to use the supplied ember-modal-dialog structure CSS for dropdowns etc, while maintaining full screen support */
  &.ember-modal-wrapper.emd-static.emd-wrapper-target-attachment-center {
    .ember-modal-dialog {
      @apply top-0;
      @apply left-0;
      transform: none;
    }
  }

  .SnapshotViewerFull {
    @apply relative;
    @apply w-screen;
    @apply h-screen;
    @apply bg-primary;
    @apply outline-none;
    z-index: 1001;

    .SnapshotViewerFull-body {
      @apply relative;
      @apply h-screen;
      @apply text-center;
      @apply cursor-pointer;
      @apply overflow-y-scroll;
      @apply scrolling-touch;
      padding-bottom: 40px;

      p {
        /* Viewport centering */
        @apply inline-block;
        @apply w-full;
      }

      .ComparisonViewerFull {
        @apply pt-1;
      }
    }
  }
}
