{{#if project.isEnabled}}
  <button type="button" class="btn btn-primary shadow-purple-lg mb-0" {{action "disable"}}>Archive Project</button>
{{else}}
  <button type="button" class="btn btn-primary shadow-purple-lg mb-0" {{action "enable"}}>Enable Project</button>
{{/if}}
