{{title (concat model.project.fullSlug " project settings | Percy") replace=true}}

{{fixed-top-header currentOrganization=model.organization project=model.project}}

<section>
  <div class="flex-1 pb-8 bg-gray-000">
    {{projects/project-header
      project=model.project
      shouldShowLinks=true
      shouldDisplayBottomBorder=true
    }}

    {{outlet}}

  </div>
</section>
