.animated-pricing-header > div {
  opacity: 0;
  animation: fade-in-up 1s ease-in-out;
  animation-fill-mode: forwards;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: ($i * 200) * 1ms;
    }
  }
}

.animated-pricing-header-free-plan {
  opacity: 0;
  animation: fade-in 0.8s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.pricing-feature-table {
  tr:nth-child(odd) {
    background: var(--purple-100);
  }
}

.pricing-table-section-header {
  td {
    color: var(--purple-600);
    background-color: var(--purple-200);
  }
}

.pricing-table-markdown {
  p {
    margin-bottom: 2px;
  }
}
