.changelog-post-list > div {
  @apply opacity-0;
  animation: fade-in-up 0.5s ease-out;
  animation-fill-mode: forwards;

  @for $i from 1 to 10 {
    &:nth-child($(i)) {
      animation-delay: ($i * 100) * 1ms;
    }
  }
}

.changelog-post {
  h2 {
    @apply font-semibold;
    @apply mb-1;
    @apply text-xl;
  }

  p {
    @apply text-secondary;
  }

  img {
    @apply w-full;
    @apply mb-1;
    @apply border;
  }

  a {
    @apply font-semibold;
  }
}

.changelog-post-detail::before {
  @media (min-width: 544px) {
    @apply block;
    @apply absolute;
    @apply w-2;
    @apply h-2;
    content: "";
    top: theme("spacing.4");
    right: calc((theme("spacing.2") * -1) - theme("spacing.sm"));
    background: var(--status-color);
    border-radius: 50%;
  }
}

.changelog-post-detail-tag {
  background: var(--status-color);
}
