.animated-pricing-header > div {
  @apply opacity-0;
  animation: fade-in-up 1s ease-in-out;
  animation-fill-mode: forwards;

  @for $i from 1 to 3 {
    &:nth-child($(i)) {
      animation-delay: ($i * 200) * 1ms;
    }
  }
}

.animated-pricing-header-free-plan {
  @apply opacity-0;
  animation: fade-in 0.8s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.pricing-feature-table {
  tr:nth-child(odd) {
    @apply bg-purple-100;
  }
}

.pricing-table-section-header {
  td {
    @apply text-purple-600;
    @apply bg-purple-200;
  }
}

.pricing-table-markdown {
  p {
    @apply mb-xs;
  }

  img {
    @apply mx-auto;
  }
}
