.team-gallery {
  @apply grid;
  grid-template-columns: 1fr;
  grid-gap: theme("spacing.sm");

  @media screen and (min-width: 544px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.team-member {
  @apply px-6;
}

@media screen and (min-width: 544px) {
  .team-member {
    @apply px-0;
  }
}

.team-member-photo {
  @apply rounded;
  min-width: 100%;
  margin-bottom: -19px;
}

.social-toolbar {
  @apply relative;
  @apply z-1;
}

.social-toolbar-items {
  @apply bg-white;
  height: 38px;
  border-radius: 19px;
}

.social-toolbar-item {
  @apply inline-block;
  @apply p-2;
  transition: transform 250ms;

  &:hover {
    transform: scale(1.25);
  }

  svg {
    @apply block;
  }
}

.current-opening {
  @apply text-gray-700;

  &:hover {
    @apply text-purple-800;
  }
}

.current-opening:not(last-child) {
  @apply mb-1;
}
