<div class="collaboration-panel px-2 lg:px-0" data-test-collaboration-panel>
  <div class="collaboration-container">

    {{#if isCommentingAllowed}}
      {{collaboration/new-thread
        shouldShowNewCommentInput=(not hasCommentThreads)
        currentUser=currentUser
        createCommentThread=createCommentThread
        isSnapshotApproved=isSnapshotApproved
        snapshot=snapshot
      }}
    {{/if}}

    {{#each orderedCommentThreads as |thread|}}
      {{collaboration/comment-thread
        commentThread=thread
        createComment=createComment
        closeCommentThread=closeCommentThread
        isCommentingAllowed=isCommentingAllowed
      }}
    {{/each}}

  </div>
</div>

