<div class="collaboration-panel" data-test-collaboration-panel>
  <div class="collaboration-container">

    {{collaboration/new-thread
      shouldShowNewCommentInput=(not hasCommentThreads)
      currentUser=currentUser
    }}

    {{#each commentThreads as |thread|}}
      {{collaboration/comment-thread
        commentThread=thread
      }}
    {{/each}}

  </div>
</div>

