.pin-t-1 {
  top: config("margin.1");
}

.pin-t-2 {
  top: config("margin.2");
}

.pin-t-3 {
  top: config("margin.3");
}

.pin-t-4 {
  top: config("margin.4");
}

.pin-t-5 {
  top: config("margin.5");
}

.pin-t-6 {
  top: config("margin.6");
}

.pin-r-1 {
  right: config("margin.1");
}

.pin-r-2 {
  right: config("margin.2");
}

.pin-r-3 {
  right: config("margin.3");
}

.pin-r-4 {
  right: config("margin.4");
}

.pin-r-5 {
  right: config("margin.5");
}

.pin-r-6 {
  right: config("margin.6");
}

.pin-b-1 {
  bottom: config("margin.1");
}

.pin-b-2 {
  bottom: config("margin.2");
}

.pin-b-3 {
  bottom: config("margin.3");
}

.pin-b-4 {
  bottom: config("margin.4");
}

.pin-b-5 {
  bottom: config("margin.5");
}

.pin-b-6 {
  bottom: config("margin.6");
}

.pin-l-1 {
  left: config("margin.1");
}

.pin-l-2 {
  left: config("margin.2");
}

.pin-l-3 {
  left: config("margin.3");
}

.pin-l-4 {
  left: config("margin.4");
}

.pin-l-5 {
  left: config("margin.5");
}

.pin-l-6 {
  left: config("margin.6");
}
