<section data-test-integration-header class="pt-3">
  <div class="w-3/4 pb-3">
    <h1 class="text-xl font-semibold mb-sm">Set up GitLab</h1>
    <p class="text-secondary">
      We’ll need just a bit of information to get Percy set up on your GitLab account.
      If you need some help, check out our <strong>
      {{#if currentGitlabIntegration.isGitlabSelfHostedIntegration}}
        <a href="https://docs.percy.io/docs/gitlab-self-managed" target="_blank">Percy + GitLab</a>
      {{else}}
        <a href="https://docs.percy.io/docs/gitlab" target="_blank">Percy + GitLab</a>
      {{/if}}
      </strong> doc to guide you through the set up process.
      {{#if currentGitlabIntegration.isGitlabSelfHostedIntegration}}
        <span data-test-integration-note>
          If you’re running GitLab behind a firewall, please <a href="#" data-test-integration-contact-support {{action "showSupport"}}>get in touch</a>.
        </span>
      {{/if}}
    </p>
  </div>
</section>

<section>
  <div data-test-gitlab-settings class="bg-white rounded shadow-1 border-t p-2 mb-2">
    {{#organizations/require-role user=currentUser organization=organization}}
      {{forms/gitlab-settings-edit
        organization=organization
        currentGitlabIntegration=currentGitlabIntegration
        isNewRecord=isNewRecord
        afterDelete=afterDelete
      }}
    {{/organizations/require-role}}
  </div>
</section>
