<div class="flex items-center mb-2" data-test-repo-linker-item>
  <div style="min-width: 280px;" class="flex items-center justify-between w-1/4 font-semibold pr-2">
    <div class="truncate">
      {{this.settingName}}
    </div>
  </div>
  {{this.settingValue}}
</div>
