<div class="flex items-center px-2 border-b mb-2 -mx-2" data-test-repo-linker-list-header>
  <div style="min-width: 280px;" class="text-sm text-secondary font-semibold pb-sm w-1/4">Percy project</div>
  <div class="text-sm text-secondary font-semibold pb-sm">Repository</div>
</div>
<div class="px-2 pb-1 -mx-2">
  {{#each organization.projects as |project|}}
    <div class="mb-2 border-b">
      <Organizations::Integrations::RepoLinkerItem @project={{project}} />
    </div>
  {{/each}}
</div>
