<div data-test-slack-settings>
  <section data-test-integration-header class="px-2 pt-3">
    <div class="w-3/4">
      <h1 class="text-xl font-semibold mb-sm">Integrate with Slack</h1>
      <p class="text-gray-400">
        The Percy Slack integration helps you keep your team updated about visual changes in your app.
      </p>
    </div>
  </section>

  {{#if organization.isSlackIntegrated}}
    {{#each organization.slackIntegrations as |slackIntegration|}}
      {{organizations/integrations/slack-integration-item
        slackIntegration=slackIntegration
        deleteSlackIntegration=deleteSlackIntegration
        createNewIntegrationConfig=createNewIntegrationConfig
        deleteSlackIntegrationConfig=deleteSlackIntegrationConfig}}
    {{/each}}
  {{/if}}

  <section class="px-2" data-test-add-channel>
    <div class="bg-white rounded shadow-1 border-t p-2">
      <div class="flex items-center">
        {{inline-svg "slack-icon" class="mr-2"}}
        {{#percy-btn handleClick=(action "connectSlackChannel") isPrimaryButton=true}}
          Add Slack channel
        {{/percy-btn}}
      </div>
    </div>
  </section>
</div>
