<div class="bg-white rounded shadow-1 border-t p-2" data-test-slack-config-item>
  <div class="flex justify-between">
    <div class="flex justify-start items-center">
      <div>
        <div class="flex justify-start items-center">
          <div class="text-lg font-semibold mr-2" data-test-project-name>
            {{this.projectName}}
          </div>
          <div class="flex-shrink">
            <div>
              {{#each this.notificationLabels as |type|}}
                <code class="mr-1 lowercase" data-test-notification-type>{{type}}</code>
              {{/each}}
            </div>
            {{#if this.branch}}
            <div>
              <span class="whitespace-no-wrap font-semibold ml-1 mt-1">Branch</span>
              <code>{{this.branch}}</code>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <LinkTo
      @route="organizations.organization.integrations.slack.slack-config"
      @models={{array this.slackIntegrationConfig.slackIntegration.id this.slackIntegrationConfig.id}}
    >
      <button type="button" class="percy-btn ml-2" data-test-edit-button>
        Edit Configuration
      </button>
    </LinkTo>
  </div>
</div>
