<section class="px-2" data-test-add-channel>
  <div class="reminder-note" data-test-slack-warning>
    <strong>Note:</strong> Configuring Slack requires organization admin permissions.
  </div>
</section>
