.video-content-modal {
  height: 80vh;
  max-height: 569px;

  @media screen and (max-width: $width-lg) {
    max-height: 530px;
  }
  @media screen and (max-width: $width-md) {
    max-height: 400px;
  }
  @media screen and (max-width: $width-sm) {
    max-height: 300px;
  }
}
