/* stylelint-disable selector-max-compound-selectors */

.content-block-header,
.content-block-subheader {
  @apply mx-auto;
  max-width: 800px;
}

.content-block-subheader {
  p {
    @apply text-lg;
  }
}

.marketing-content-block-dark {
  @apply bg-gray-700;

  .content-block-superheader,
  .content-block-subheader,
  .content-block-bodytext,
  .content-block-supporting-text,
  .content-block-supporting-text-body {
    @apply text-gray-300;

    p {
      @apply text-gray-300;
    }
  }

  .content-block-header,
  .content-block-supporting-text-header {
    @apply text-white;
  }

  .content-block-bodytext,
  .content-block-supporting-text-body {
    ul {
      li::before {
        border-color: transparent theme("colors.gray.100");
      }
    }
  }
}

.content-block-bodytext {
  p {
    @apply text-center;
  }

  p img {
    @apply inline;
    @apply px-1;
    @apply mb-1;
    max-width: 100px;
    max-height: 100px;
  }
}

.content-block-bodytext,
.content-block-supporting-text-body {
  ul {
    @apply mb-3;
    @apply pl-2;
    @apply list-none;

    li {
      margin-left: 6px;
    }

    li::before {
      @apply block;
      @apply relative;
      @apply w-0;
      @apply h-0;
      @apply border;
      content: "";
      top: 1em;
      left: -1em;
      border-color: transparent theme("colors.purple.600");
      border-width: 0.35em 0 0.35em 0.45em;
    }
  }
}

.content-block-supporting-text-body {
  ul {
    @apply pl-2;
  }
}

/* stylelint-enable */
