{{title (concat organization.name " settings | Percy") replace=true}}

{{#dashboard-nav-wrapper organization=organization showMemberLinks=true}}
  <section class="pt-3">
    <h1 class="text-xl font-semibold mb-sm leading-none">Organization details</h1>
    <p class="text-gray-400 w-3/4">
      These are the settings for the whole Percy organization. Not seeing the setting you were looking for? <a href="#" {{action (route-action "showSupport")}} data-test-org-settings-show-support>Reach out</a> and let us know!
    </p>

    {{#organizations/require-role role="admin" organization=organization}}
      <div class="bg-white rounded shadow-1 p-2">
        <h2 class="text-xl font-semibold mb-1">Organization Settings</h2>
        {{forms/organization-edit
          organization=organization
          saveSuccess=(route-action "organizationUpdated")
        }}
      </div>
    {{/organizations/require-role}}
  </section>
{{/dashboard-nav-wrapper}}
