{{title (concat organization.name " settings | Percy") replace=true}}

{{#dashboard-nav-wrapper organization=organization showMemberLinks=true}}
  <section class="pt-3">
    {{#organizations/require-role role="admin" organization=organization}}
      <div class="bg-white rounded shadow-1 p-2 border-t">
        <h2 class="text-xl font-semibold mb-1">Organization settings</h2>
        {{forms/organization-edit
          organization=organization
          saveSuccess=(route-action "organizationUpdated")
        }}
      </div>
    {{/organizations/require-role}}
  </section>
{{/dashboard-nav-wrapper}}
