<section class="border-b border-purple-300 pb-6 pt-8">
  <div class="w-90vw max-w-md mx-auto grid col-2 gap-6">
    {{#each block.caseStudies as |caseStudy|}}
      <a href="{{caseStudy.caseStudyLink}}" class="no-underline hover:no-underline cursor-pointer">
        <div class="text-center p-4 border rounded shadow-purple-lg h-full">
          <div class="flex justify-center pb-3" style="height: 65px;">
            {{contentful-image file=caseStudy.logo.file class="h-full"}}
          </div>
          <div class="font-semibold text-lg mb-3 text-gray-600">
            {{caseStudy.caseStudyTitle}}
          </div>
          <div class="font-semibold text-gray-300 uppercase tracking-wide">
            {{caseStudy.industry}}
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</section>
