.build-card-placeholder {
  @apply flex justify-center items-center border-b px-4;
  height: 98px;
  background: url("/images/build-card-placeholder.jpg");
  @apply bg-cover;
}

.build-card-container {
  @apply bg-white;
}

.build-card-container:hover .status-pill {
  transform: scale(1.05);
}

.build-card {
  @apply grid items-center;
  @apply py-3;
  @apply border-b;
  @apply cursor-pointer;
  grid-gap: var(--spacing-4);
  grid-template-areas:
    "build"
    "details"
    "diffs"
    "status";

  @media screen and (min-width: 768px) {
    grid-template-areas: "build details diffs status";
    grid-template-columns: 108px 4fr 180px 108px;
  }
}
