<div class="btn-toggle">
  {{#each this.sortedBrowsers as |browser|}}
    <div
      class="btn-toggle-item browser-switcher {{if (eq browser.id this.activeBrowser.id) "is-selected"}}"
      {{action this.updateActiveBrowser browser}}
      role="button"
    >
      {{inline-svg (concat browser.familySlug "-browser-icon") class="opacity-25"}}
    </div>
  {{/each}}
</div>
