<div class="btn-toggle">
  <div class="btn-toggle-item browser-switcher is-selected" role="button">
    {{inline-svg "chrome-browser-icon"}}
  </div>
  <div class="btn-toggle-item browser-switcher" role="button">
    {{inline-svg "firefox-browser-icon" class="opacity-25"}}
  </div>
</div>
