<div class="btn-toggle" data-test-comparison-switcher>
  {{#each (sort-by "width" this.comparisons) as |comparison|}}
    <Build2::ComparisonSwitcherItem
      @selectedWidth={{this.selectedWidth}}
      @width={{comparison.width}}
      @comparisons={{this.comparisons}}
      @updateSelectedWidth={{this.updateSelectedWidth}}
    />
  {{/each}}
</div>
