<button
  class="percy-btn btn-square snapshot-reject-button hint--bottom hint--rounded {{if this.isLoading "is-loading"}}"
  aria-label="Request changes"
  type="button"
  {{action 'rejectSnapshots'}}
  disabled="{{if this.isDisabled "disabled"}}"
>
  {{inline-svg "comparison-icon-requested-changes-sm"}}
</button>
