  {{!-- <div>
    <Input
      @type="text"
      @value={{this.searchTerm}}
      @key-up={{action "updateSearchTerm"}}
      placeholder="Search snapshots"
      class="percy-input rounded h-10 m-0 px-1-1/2"
    />
  </div> --}}

<ul class="snapshot-name-list list-none">
  {{#each this.filteredSnapshots as |snapshot|}}
    <li class="px-3 mb-3 border-b">
      <Build2::SnapshotNameListItem
        @snapshot={{snapshot}}
        class="snapshot-name-list-item text-primary opacity-50"
      />
    </li>
  {{/each}}
</ul>
