<ul class="snapshot-name-list list-none {{if this.isCompactSidebar 'px-2' 'px-3'}}">
  {{#each this.filteredSnapshots as |snapshot|}}
    <li class="mb-3 border-b">
      <Build2::SnapshotNameListItem
        @snapshot={{snapshot}}
        @isCompactSidebar={{this.isCompactSidebar}}
        class="text-primary"
      />
    </li>
  {{/each}}
</ul>
