<button
  class="percy-btn snapshot-reject-button {{if this.isLoading "is-loading"}}"
  type="button"
  {{action 'rejectSnapshots'}}
  disabled="{{if this.isDisabled "disabled"}}"
>
  Request changes
</button>
