{{title this.model.build.buildTitle}}

<div class="flex">
  {{!-- {{#if isSnapshotListVisible}} --}}
  <div class="w-1/5 h-screen overflow-y-scroll border-r border-ternary">
    <Build2::SnapshotNameList @snapshots={{this.model.snapshots}} @build={{this.model.build}}/>
  </div>
  {{!-- {{/if}} --}}
  <div class="w-4/5 h-screen overflow-y-scroll">
    {{outlet}}
  </div>
</div>
