:root {
  --gray-000: #fbfafc;
  --gray-100: #f0eef1;
  --gray-200: #e1dfe2;
  --gray-300: #a69fa8; /* secondary-text-color */
  --gray-400: #7c727f;
  --gray-500: #69616b;
  --gray-600: #544e56;
  --gray-700: #3f3a40; /* base-color */
  --gray-800: #2a272b;
  --gray-900: #151315;

  --red-000: #fdeeed;
  --red-100: #f8cdc9;
  --red-200: #f4aca4;
  --red-300: #ef8b80;
  --red-400: #eb6a5c;
  --red-500: #e74e3e; /* base-color */
  --red-600: #da2e1b;
  --red-700: #b62616;
  --red-800: #911f12;
  --red-900: #6d170d;

  --orange-100: #ffefe6;
  --orange-500: #ff7b2f;

  --yellow-000: #fffbeb;
  --yellow-100: #fff2c2;
  --yellow-200: #ffe999;
  --yellow-300: #ffe070;
  --yellow-400: #ffd542; /* base-color */
  --yellow-500: #ffce1f;
  --yellow-600: #f5c000;
  --yellow-700: #cca000;
  --yellow-800: #a38000;
  --yellow-900: #7a6000;

  --green-000: #edfaee;
  --green-100: #d9f4dc;
  --green-200: #bbecc2;
  --green-300: #99e3a2;
  --green-400: #6fd77c;
  --green-500: #43cb54; /* base-color */
  --green-600: #30b041;
  --green-700: #279035;
  --green-800: #1f702a;
  --green-900: #16501e;

  --blue-000: #ebf5fe;
  --blue-100: #c9e4f8;
  --blue-200: #a5d3f3;
  --blue-300: #81c1ef;
  --blue-400: #5dafea;
  --blue-500: #1d8ddb; /* base-color */
  --blue-600: #1773b5;
  --blue-700: #135c90;
  --blue-800: #0e456c;
  --blue-900: #092e48;

  --purple-000: #fefcfe;
  --purple-100: #fdfafe;
  --purple-200: #fbf6fd;
  --purple-300: #f6edfa;
  --purple-400: #eedbf6;
  --purple-500: #d7b5e5;
  --purple-600: #9e66bf;
  --purple-700: #7d3395;
  --purple-800: #5c007a; /* base-color primary-brand-color */
  --purple-900: #2c023f;
}

:root {
  --lightest-gray: #f7f7f7;
  --very-light-gray: #e9e9e9;
  --lighter-gray: #dbdbdb;
  --light-gray: #bbb;
  --gray: #aaa;
  --dark-gray: #888;
  --darker-gray: #666;
  --darkest-gray: #333;

  --lightest-purple: #c281d8;
  --light-purple: #ac3ed0;
  --dark-purple: #5c007b;
  --darker-purple: #490061;
  --darkest-purple: #2c003b;

  --lightest-red: #f5e0d9;
  --red: #d41f0f;

  --lightest-green: #deffc3;
  --lighter-green: #b7e196;
  --light-green: #68d400;
  --green: #4fa100;
  --dark-green: #295400;
  --darker-green: #1d3a00;

  --lightest-blue: #d5eeff;
  --lighter-blue: #a9cde6;
  --light-blue: #62ade1;
  --blue: #1e8ddb;
  --dark-blue: #155df2;

  --lightest-yellow: #fffbde;
  --lighter-yellow: #fff7c5;
  --light-yellow: #fff4ac;
  --yellow: #f0d800;
  --dark-yellow: #c2ae00;
  --darker-yellow: #756900;

  --beige: #f7f5f2;

  --base-border-width: 1px;
  --lightest-gray-border: var(--base-border-width) solid var(--lightest-gray);
  --very-light-gray-border: var(--base-border-width) solid var(--very-light-gray);
  --lighter-gray-border: var(--base-border-width) solid var(--lighter-gray);
  --light-gray-border: var(--base-border-width) solid var(--light-gray);
  --gray-border: var(--base-border-width) solid var(--gray);
  --gray-border-hover: var(--base-border-width) solid var(--dark-gray);
  --lighter-gray-border-hover: var(--base-border-width) solid #a0a0a0;
  --errorborder: var(--base-border-width) solid var(--red);

  --text-color: var(--gray-700);

  --default-link: var(--blue);
  --default-link-hover: var(--dark-blue);
  --on-dark-link: #fcf;
  --on-dark-link-hover: #fef;

  --bg-purple-light: #fcfafd;
  --form-control-background: #fdfdfd;

  --purple-gradient: linear-gradient(45deg, var(--purple-800) 0%, var(--purple-700) 100%);
  --light-purple-gradient: linear-gradient(45deg, var(--purple-600) 0%, var(--purple-700) 100%);
  --green-gradient: linear-gradient(45deg, #43cb54 0%, #4fd960 100%);
  --red-gradient: linear-gradient(45deg, #e74e3e 0%, #f36c5e 100%);
  --yellow-gradient: linear-gradient(45deg, #ffd542 0%, #ffe178 100%);
  --light-gradient: linear-gradient(45deg, #fcfafd 0%, #fff 100%);
}
