{{!-- TODO: #billingadmins --}}
<section class="w-90vw max-w-xl mx-auto pt-3 pb-9" data-test-billing-section-container>
  {{#unless (or isUserOrgAdmin (is-admin))}}
    <div data-test-member-view class="Alert Alert--error" >
      <strong>Changing billing settings requires organization admin permissions.</strong>
    </div>
  {{else}}
    {{#if (and (not isUserOrgAdmin) (is-admin))}}
      <div class="bg-red-300 p-1 mt-1 mb-3 text-center font-bold" style="background: linear-gradient(to right, var(--red-100) 25%, var(--red-300) 100%, var(--red-800) 50%);">
         This page is only visible to you as a Percy superuser with admin mode enabled.
      </div>
    {{/if}}

    <section data-test-admin-view>
      {{organizations/current-plan
        organization=organization
        currentUsageStats=currentUsageStats
      }}

      {{#if subscription.plan.isUpgradeable}}
        {{organizations/subscription-list
          organization=organization
          updateEmail=updateEmail
          updateSubscription=updateSubscription
          updateCreditCard=updateCreditCard
          updateSavingState=(action "updateSavingState")
        }}
      {{/if}}

      {{#if (and subscription.isPaid (not isEmailOrCardSaving))}}
        {{organizations/billing-settings
          organization=organization
          updateCreditCard=updateCreditCard
        }}
      {{/if}}
    </section>
  {{/unless}}
</section>
