{{#stripe-card
  data-test-billing-card-updater-stripe-card
  options=stripeOptions
  change=(action 'checkCard')
  as |stripeElement stripeError|}}
  {{#if stripeError}}
    <p class="error">{{stripeError.message}}</p>
  {{/if}}
  <div class="flex justify-start mt-2">
    {{#percy-btn
      handleClick=(
      action "submitCardUpdate" stripeElement planId)
      isPrimaryButton=true
      isDisabled=(not isCardValid)
      isSaving=isSaving
      class="mr-2"
      testLabel="submit"
    }}
      Update card
    {{/percy-btn}}
    {{#percy-btn handleClick=(action "cancel") testLabel="cancel"}}Cancel{{/percy-btn}}
  </div>
{{/stripe-card}}
