<div data-test-bitbucket-cloud-app-install-success class="flex items-center justify-between pl-3 mb-2">
  <div class="flex items-center">
    {{inline-svg 'percy-logo-on-light' class="mr-2"}}
    <div class="text-xl font-semibold">Installed!</div>
  </div>
</div>
<div class="rounded bg-yellow-000 border border-yellow-100 p-2 mb-3">
  <strong>Note:</strong> Each project must be linked to a Bitbucket Cloud repository for <strong><a href="https://docs.percy.io/docs/bitbucket-cloud" target="_blank" rel="noopener noreferrer">Pull Request integration</a></strong> to work. You can link projects to repositories below or in each project's settings.
</div>
