<div class="border-b leading-none" data-test-loading-project-card>
  <div class="flex justify-between items-center">
    <div class="ember-view flex-1 block py-3 text-primary hover:no-underline hover:text-purple-600">
      <div class="flex items-center mb-1">
        <div class="text-2xl mr-1 progress-bar-light text-transparent">
          Project name
        </div>
      </div>

      <div class="flex items-center mb-1">
        <div class="text-sm font-semibold progress-bar-light text-transparent">
          Updated an hour ago
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <span class="text-transparent progress-bar-light mr-1">Linked to a repo</span>
    </div>

  </div>
</div>
