<div class="settings-nav-wrapper flex relative" data-test-organizations-settings-nav-wrapper>
  <aside class="settings-sidebar h-screen overflow-y-scroll flex-no-shrink sticky pin-t pt-3 border-r" data-test-sidenav>
    <section class="border-b border-gray-000 mb-3">
      <ul class="list-reset mb-2">
        <li class="mb-0">
          {{#link-to "organizations.organization.settings" organization.slug class="block py-1 px-4 link-gray font-semibold data-test-sidenav-settings"}}Settings{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.billing" organization.slug class="block py-1 px-4 link-gray font-semibold data-test-sidenav-billing"}}Billing{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.integrations" organization.slug class="block py-1 px-4 link-gray font-semibold"}}Integrations{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.users" organization.slug class="block py-1 px-4 link-gray font-semibold data-test-sidenav-users"}}Users{{/link-to}}
        </li>
      </ul>
    </section>
  </aside>

  <main class="flex-1 bg-gray-pattern">
    {{yield}}
  </main>
</div>
