{{#if plan.isUpgradeable}}
  <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
    <h2 class="text-xl font-semibold mb-1">Subscription</h2>
    <div class="bg-gray-000 rounded border">
      {{#each subscriptionData.PLANS as |planData|}}
        {{organizations/subscription-list-item
          planData=planData
          existingPlan=plan
          organization=organization
          isActivePlan=(eq plan.id planData.id)
        }}
      {{/each}}

      <div class="flex p-2" data-test-subscription-enterprise-item>
        <div class="pr-2 flex-1 text-xl font-semibold self-center">
          Need more?
        </div>

        <div style="max-width: 150px" class="flex-1 pr-2 flex items-start justify-end self-center">
          {{#if organization.currentUserIsAdmin}}
            <button href="#" class="btn btn-primary shadow-purple-lg mb-0" disabled={{eq plan.id planData.id}} {{action "showSupportTargeted"}} data-test-subscription-list-choose-enterprise>
              Contact Us
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="rounded border p-2 mb-2">
    <strong>Note:</strong> For more information, see {{#link-to "pricing" class="font-semibold"}}Pricing{{/link-to}}. Feel free to <a class="font-semibold" href="#" {{action "showSupport"}} data-test-more-information-support>reach out</a> with any questions.
  </div>
{{/if}}


