.grid {
  display: grid;
}

.gap-0 { grid-gap: 0; }
.gap-sm { grid-gap: theme("spacing.sm"); }
.gap-1 { grid-gap: theme("spacing.1"); }
.gap-2 { grid-gap: theme("spacing.2"); }
.gap-3 { grid-gap: theme("spacing.3"); }
.gap-4 { grid-gap: theme("spacing.4"); }
.gap-5 { grid-gap: theme("spacing.5"); }
.gap-6 { grid-gap: theme("spacing.6"); }

.col-2 {
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .col-2 {
    grid-template-columns: 1fr;
  }
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  .col-3 {
    grid-template-columns: 1fr;
  }
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
  .col-4 {
    grid-template-columns: 1fr 1fr;
  }
}

.col-auto {
  grid-template-columns: auto;
  grid-auto-flow: column;
}
