/* stylelint-disable selector-no-qualifying-type */

.text-white a {
  @apply text-white;
}

/* Link colors */

.link-gray,
.link-gray a {
  color: theme("colors.gray.300") !important;

  &:hover {
    @apply no-underline;
    color: theme("textColor.primary") !important;
  }

  &.active {
    color: theme("textColor.primary") !important;
  }
}

.link-dark,
.link-dark a {
  color: theme("textColor.primary") !important;

  &:hover {
    color: theme("textColor.primary") !important;
  }
}

.link-white,
.link-white a {
  @apply text-white;

  &:hover {
    @apply text-white;
  }
}

.link-blue,
.link-blue a {
  color: theme("colors.blue.500") !important;

  &:hover {
    color: theme("colors.blue.500") !important;
  }
}

.link-purple,
.link-purple a {
  color: theme("colors.purple.600") !important;

  &:hover {
    @apply underline;
    color: theme("colors.purple.600") !important;
  }
}
