.pin-t-3 {
  top: theme("margin.3");
}

.pin-t-4 {
  top: theme("margin.4");
}

.pin-r-3 {
  right: theme("margin.3");
}

.pin-r-4 {
  right: theme("margin.4");
}

.pin-b-2 {
  bottom: theme("margin.2");
}

.pin-b-3 {
  bottom: theme("margin.3");
}

.pin-l-1 {
  left: theme("margin.1");
}
