<FixedTopHeader />

<div class="w-full container-vh bg-white-pattern flex items-center justify-center">
  <StatusPanel @inlineSvgName="email-large-icon" @mainText="Uh Oh!" @secondaryText="We already have an account for that email address.<br/><strong>Please sign in first and then add a <a href='/settings/connected-accounts'>connected account</a> or contact support for assistance.</strong>" />
</div>

<MainFooter />
