{{fixed-top-header}}

<div class="container-full container-vh bg-white-pattern flex items-center justify-center">
  {{status-panel
    inlineSvgName="email-large-icon"
    mainText="Almost there!"
    secondaryText="We've sent you an email to change your password.<br/><strong>Please click the link in the email to reset your password.</strong>"
  }}
</div>

{{main-footer}}
