{{title "Request a demo"}}
<Marketing::MarketingPage
  @page={{this.model}}
/>
<div class="flex justify-center">
  <div class="mt-6 overflow-hidden">
    <iframe
      src="https://share.hsforms.com/1hjQTUAeZQ86qt_QKMK3EOQ1p9mw"
      width="696px"
      height="850px"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      class="mb-8 -mt-4"
      scrolling="no"
      title="Fill out this form to schedule a demo.">
      Loading...
    </iframe>
  </div>
</div>
<MainFooter />
