<FixedTopHeader />

<div class="w-full container-vh bg-white-pattern flex items-center justify-center">
  {{#if model.success}}
    <StatusPanel @inlineSvgName="thumbs-up-large-icon" @mainText="Success!">
      {{#if session.currentUser}}
        <p class="alt-p text-secondary">
          Your email address if now verified!
        </p>
        <LinkTo @route="settings.profile" @classNames="percy-btn percy-btn-primary test-verify-email-profile-link">Continue to Profile</LinkTo>
      {{else}}
        <p class="alt-p text-secondary">
          Your account has been created!
        </p>
        <LinkTo @route="login" @classNames="percy-btn percy-btn-primary test-verify-email-signin-link">Sign In</LinkTo>
      {{/if}}
    </StatusPanel>
  {{else}}
    <StatusPanel
      @inlineSvgName="error-large-icon"
      @mainText="Uh Oh..."
      @secondaryText={{or model "Something went wrong. Please try again or contact support"}}
    />
  {{/if}}
</div>

<MainFooter />
